<div class="events-main-content">

    <div id="events-container" class="container-fluid">

        <BackButton currentScreen="@currentScreen" setScreenCallback="@setScreenCallback" Title="Your Schedule" />

        <div id="filter-panel" class="mb-2 row justify-content-center text-center">
        </div>

        <div class="row">
            <hr />
        </div>


        <ScheduleView />

    </div>

    <div id="schedule-attend-menu" class="">
        <div class="row w-100 mt-2 justify-content-center">
            <h2 class="col-10 text-left">Your favourites:</h2>
        </div>

        <QuickEventBrowser Events="@Favorites"/>

    </div>

    </div>

@code {

    [Parameter]
    public EventCallback<MainLayout.ScheduleScreens> setScreenCallback { get; set; }

    [Parameter]
    public MainLayout.ScheduleScreens currentScreen { get; set; }

    [CascadingParameter]
    public List<MainLayout.Event>? Favorites { get; set; } = new List<MainLayout.Event>();

    }

