<div class="events-main-content">

    <div id="events-container" class="container-fluid">

        <div class="title-back my-3">
            <img class="icon-s" src="https://cdn-icons-png.flaticon.com/512/3114/3114883.png" />
            <h1 class="mt-1">Your Schedule</h1>
        </div>

        <div id="filter-panel" class="mb-2 row justify-content-center text-center">
        </div>

        <div class="row">
            <hr />
        </div>


        <div id="schedule-list" class="d-grid gap-3">

            <div id="times-container" class="row justify-content-center">

                <div id="time-lines" class="row gap-4 justify-content-center">
                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">10am</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">11am</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">12am</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">2pm</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">3pm</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">4pm</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">5pm</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-1 schedule-time-label">6pm</div>
                        <div class="col-11">
                            <hr class="time-divider">
                        </div>
                    </div>

                </div>


                <div id="event-times" class="row justify-content-center">
                    <div class="schedule-card text-white">
                        <h5 class="my-2">Superdogs</h5>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div id="schedule-attend-menu" class="">

        <hr class="menu-control" />

        <div class="row w-100 justify-content-center">
            <h2 class="col-10 text-left">Your favourites:</h2>
        </div>

        <QuickEventBrowser/>

    </div>

    </div>

    @code {

        [Parameter]
        public EventCallback<MainLayout.ScheduleScreens> setScreenCallback { get; set; }

    }

