@inject AppState AppState

<div class="mt-3"></div>
@switch (AppState.CurrentScheduleScreen)
{
    case ScheduleScreen.DAY_PICKER:
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active">1. Pick a day</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" >2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">4</a>
            </li>
        </ul>
        break;
    case ScheduleScreen.EVENT_BROWSER:
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.DAY_PICKER); }">1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">2. Browse Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">4</a>
            </li>
        </ul>
        break;
    case ScheduleScreen.SCHEDULE_PICKER:
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.DAY_PICKER); }">1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.EVENT_BROWSER); }">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">3. Choose Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">4</a>
            </li>
        </ul>
        break;
    case ScheduleScreen.ATTEND:
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.DAY_PICKER); }">1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.EVENT_BROWSER); }">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @onclick="() => { AppState.setScheduleScreen(ScheduleScreen.SCHEDULE_PICKER); }" >3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">4. Attend Stampede!</a>
            </li>
        </ul>

        break;
}

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}

