<div id="schedule-list" class="d-grid gap-3">

    <div id="times-container" class="row justify-content-center">

        <div id="time-lines" class="d-flex gap-5 flex-column align-items-center justify-content-center">

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">10am</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">11am</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">12am</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">1pm</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">2pm</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">3pm</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">12am</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

            <div class="row align-items-center w-100">
                <div class="col-1 schedule-time-label">12am</div>
                <div class="col-11">
                    <hr class="time-divider">
                </div>
            </div>

        </div>


        <div id="event-times" class="row justify-content-center">

            @if (SelectedSchedule != null)
            {
                @foreach (var Event in SelectedSchedule)
                {
                    <ScheduleCard Event="@Event" />

                }
            }

            <div class="schedule-card-disabled text-white">
                <h5 class="my-2">Empty Event</h5>
            </div>

        </div>
    </div>

</div>


@code {

    /// <summary>
    /// The user's selected schedule, if it exists
    /// </summary>
    [CascadingParameter]
    protected List<MainLayout.ScheduledEvent>? SelectedSchedule { get; set; }

}

