@inherits LayoutComponentBase
@using stampede_buddy
@inject AppState AppState
@implements IDisposable

<div class="main-container">

    <div class="explore-phone-container">


        @if (AppState.CurrentTab == AppTab.EXPLORE)
        {
            <stampede_buddy.Shared.Components.ExploreComponent/>
        }
        else if (AppState.CurrentTab == AppTab.SCHEDULE)
        {

            <stampede_buddy.Shared.Components.ScheduleComponent/>

        }

        @*@Body*@

        <div class="bottom-tabs">

            @if (AppState.CurrentTab == AppTab.EXPLORE)
            {
                <div class="bottom-tab-active bottom-tab bt-left" @onclick="switchToExplore">Explore</div>
            }
            else
            {
                <div class="bottom-tab bt-left" @onclick="switchToExplore">Explore</div>
            }

            @if (AppState.CurrentTab == AppTab.SCHEDULE)
            {
                <div href="/schedule" class="bottom-tab-active bottom-tab bt-right" @onclick="switchToSchedule">Schedule</div>
            }
            else
            {
                <div href="/schedule" class="bottom-tab bt-right" @onclick="switchToSchedule">Schedule</div>
            }

        </div>
    </div>

</div>




@code {


    private void switchToExplore()
    {
        AppState.setTab(AppTab.EXPLORE);
    }

    private void switchToSchedule()
    {
        AppState.setTab(AppTab.SCHEDULE);
    }


    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}


