@inject AppState AppState
@implements IDisposable
<stampede_buddy.Shared.Components.Schedule.ScheduleNavigator/>

@switch (AppState.CurrentScheduleScreen)
{
    case ScheduleScreen.DAY_PICKER:
        <stampede_buddy.Shared.Components.Schedule.DayPicker/>
        break;

    case ScheduleScreen.EVENT_BROWSER:
        <stampede_buddy.Shared.Components.Schedule.EventBrowser/>
        break;

    case ScheduleScreen.SCHEDULE_PICKER:
        <stampede_buddy.Shared.Components.Schedule.SchedulePicker />
        break;

    case ScheduleScreen.ATTEND:
        <stampede_buddy.Shared.Components.Schedule.Attend/>
        break;
    default:
        <h1> STATE BROKE :( </h1>
        break;
}

@code {

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}

