@page "/daypicker"

<div class="main-content">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">1. Pick a day</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">4</a>
        </li>
    </ul>

    <h1 class="m-4">Pick a day to visit!</h1>

    <div class="day-picker">
        <h3>July</h3>
        <div class="date-grid m-2">
            <div class="date-heading"> S</div>
            <div class="date-heading"> M</div>
            <div class="date-heading"> T</div>
            <div class="date-heading"> W</div>
            <div class="date-heading"> T</div>
            <div class="date-heading"> F</div>
            <div class="date-heading"> S</div>


            <div class="date date-invalid"> 3</div>
            <div class="date date-invalid"> 4</div>
            <div class="date date-invalid"> 5</div>
            <div class="date date-invalid"> 6</div>
            <div class="date-item"> 7</div>
            <div class="date-promo date-item "> 8</div>
            <div class="date-item"> 9</div>
            <div class="date-item"> 10</div>
            <div class="date-item"> 11</div>
            <div class="date-promo-2 date-item"> 12</div>
            <div class="date-item"> 13</div>
            <div class="date-item"> 14</div>
            <div class="date-item data-selected"> 15</div>
            <div class="date-item"> 16</div>

            <div class="date date-invalid"> 17</div>
            <div class="date date-invalid"> 17</div>
            <div class="date date-invalid"> 19</div>
            <div class="date date-invalid"> 20</div>
            <div class="date date-invalid"> 21</div>
            <div class="date date-invalid"> 22</div>
            <div class="date date-invalid"> 23</div>

        </div>
    </div>

    <h3 class="">Promotional Days</h3>
    <ul class="promo-list">
        <li class="promo-label">July 8th: Senior's Day</li>
        <li class="promo-label-2">July 12th: Family Day</li>
    </ul>

    <h2 class="">You've selected:</h2>
    <h2 class="display-5">July 15th</h2>



    <div class="mb-3 w-75 btn btn-primary btn-block btn-lg " @onclick="() => {setScreenCallback.InvokeAsync(MainLayout.ScheduleScreens.EVENT_BROWSER); }">Continue</div>

</div>

@code {

    // used to alter screen from child component. call with setScreenCallback.InvokeAsync(...)
    [Parameter]
    public EventCallback<MainLayout.ScheduleScreens> setScreenCallback { get; set; }

}

