@page "/search"
    <div class="search-content">
        <div id="input-bar">

            <!-- <img class="icon-s" src="https://cdn-icons-png.flaticon.com/512/507/507257.png" /> -->
            <img class="icon-s " src="https://cdn-icons-png.flaticon.com/512/2223/2223615.png" />
            <!-- <img class="icon-s" src="https://cdn-icons-png.flaticon.com/512/751/751463.png" /> -->
            <label for="search-bar" class="form-label"></label>
            <input type="email" class="" id="search-bar" placeholder="Search here!">


        </div>
        <hr>
        <div class="search-results">

            <div class="search-result">
                <!-- <img class="icon-s" src="https://cdn-icons-png.flaticon.com/512/684/684908.png" /> -->
                <div class="flex">
                    <div class="flex-col">
                        <img class="icon-s" src="https://cdn-icons-png.flaticon.com/512/684/684850.png" />
                        <div>800m</div>
                    </div>

                    <div class="flex-col search-result-content">
                        <div class="search-result-title">Superdogs</div>
                        <div>BMO Center</div>
                    </div>
                </div>

                <div class="btn btn-danger"> Go!</div>
            </div>
        </div>
        <!-- end phone container -->
    </div>
    @code {

    }

